.footer{
    overflow: hidden;
    background-color: #f3815b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

@media screen and (max-width:600px) {
    .footer{
        overflow: hidden;
        background-color: #f3815b;
        display: grid;
        grid-template-columns: 1fr;
    
    }
    
}

.footer section{
    text-align: center;
}

.socials{
    grid-column: 1 / span 3;
    grid-row: 2;
    justify-self: center;
}

@media screen and (max-width:600px) {
    .socials{
        grid-column: 1 / span 1;
        grid-row : 4;
        justify-self: center;
    }
}

.socials ul{
    list-style-type: none;
    overflow: hidden;
    align-self: center;
    padding: 0;
}

.socials li{
    float: left;
    margin: 0 4px
}

.socials a{
    padding: 5px
}

